body {
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
}

.main-part {
  height: 100vh;
}

.container {
  padding-top: 18vh;
}

.acc-head {
  margin: auto 2rem auto 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  background-color: #512B58;
  border-radius: 10px 10px 0 0;
}

.acc-head h3 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1.5vw;
  color: #ECECEC;
}

.acc-button {
  margin: 8px;
}

.btn-up {
  float: right;
}

.btn-down {
  float: right;
}

.acc-body {
  margin: auto 2rem auto 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  background-color: #A4D1D0;
  border-radius: 0 0 10px 10px;
}

.acc-body p {
  max-width: 650px;
  padding: 1.5vh 10px 1.5vh;
}

.acc-body ul {
  max-width: 650px;
  padding: 1.5vh 10px 1.5vh;
}

.list-group-item {
  background-color: #A4D1D0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
