body {
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
}

.main-part {
  height: 100vh;
}

.container {
  padding-top: 20vh;
}

.acc-head {
  margin: auto 2rem auto 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.acc-body {
  margin: auto 2rem auto 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.acc-button {
  margin: 8px;
}
