body {
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
}

.main-part {
  height: 100vh;
}

.container {
  padding-top: 18vh;
}

.acc-head {
  margin: auto 2rem auto 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  background-color: #512B58;
  border-radius: 10px 10px 0 0;
}

.acc-head h3 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1.5vw;
  color: #ECECEC;
}

.acc-button {
  margin: 8px;
}

.btn-up {
  float: right;
}

.btn-down {
  float: right;
}

.acc-body {
  margin: auto 2rem auto 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  background-color: #A4D1D0;
  border-radius: 0 0 10px 10px;
}

.acc-body p {
  max-width: 650px;
  padding: 1.5vh 10px 1.5vh;
}

.acc-body ul {
  max-width: 650px;
  padding: 1.5vh 10px 1.5vh;
}

.list-group-item {
  background-color: #A4D1D0;
}
