<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "story/css/bootstrap.min.css" %}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "story/css/styles.css" %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Story 8</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  </head>
  <body>
    <div class="main-part">
      <div class="container">
        <h2>Muhammad Farhan Oktavian</h2>
        <br />
        <button type="button" class="btn btn-info change-color"id="changeColor">Change Theme</button>
        <div id="accordion" class="mb-auto">
          <div class="row acc-head wmi-head">
            <h3 class="mr-auto">Who am I</h3>
            <button class="acc-button btn-up"><i class="fa fa-arrow-up"></i></button>
            <button class="acc-button btn-down"><i class="fa fa-arrow-down"></i></button>
          </div>
          <div class="row acc-body wmi-body">
            <p class="m-auto">
              An aspiring software engineer pursuing a computer science bachelor degree and hands-on experience on software development. Currently interested in Artificial Intelligence, Robotics and Avionics.
            </p>
          </div>
          <div class="row acc-head cur-head">
            <h3 class="mr-auto">Current Activities</h3>
            <button class="acc-button btn-up"><i class="fa fa-arrow-up"></i></button>
            <button class="acc-button btn-down"><i class="fa fa-arrow-down"></i></button>
          </div>
          <div class="row acc-body cur-body">
            <ul class="m-auto list-group-flush">
              <li class="list-group-item">
                Software Engineer for the Universitas Indonesia Robotics Team (TRUI) fixed-wing division.
              </li>
              <li class="list-group-item">
                Teaching Assistant for the Introduction to Computer Organization course.
              </li>
              <li class="list-group-item">
                Backend Engineer for Katalayar.ID
              </li>
            </ul>
          </div>
          <div class="row acc-head exp-head">
            <h3 class="mr-auto">Experience</h3>
            <button class="acc-button btn-up"><i class="fa fa-arrow-up"></i></button>
            <button class="acc-button btn-down"><i class="fa fa-arrow-down"></i></button>
          </div>
          <div class="row acc-body exp-body">
            <ul class="m-auto list-group-flush">
              <li class="list-group-item">
                Universitas Indonesia's contingent for the 2019 Indonesian Flying Robot Contest.
              </li>
              <li class="list-group-item">
                President and the Head of Information and Technology division of Kharisma Bangsa Senior High School.
              </li>
            </ul>
          </div>
          <div class="row acc-head ach-head">
            <h3 class="mr-auto">Achievements</h3>
            <button class="acc-button btn-up"><i class="fa fa-arrow-up"></i></button>
            <button class="acc-button btn-down"><i class="fa fa-arrow-down"></i></button>
          </div>
          <div class="row acc-body ach-body">
            <ul class="m-auto list-group-flush">
              <li class="list-group-item">
                Placed top 8 over 25 team in the 2019 Indonesian Flying Robot Contest.
              </li>
              <li class="list-group-item">
                Finalist of the 2017 Young Inventors Challenge with Arduino enhanced office chair.
              </li>
            </ul>
          </div>
        </div>
        <br />
      </div>
    </div>
    <!-- Accordion related js -->
    <script src="{% static "story/js/jquery-1.12.4.min.js" %}" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{% static "story/js/jquery-ui.min.js" %}" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{% static "story/js/story-script.js" %}"></script>
    <!-- Bootstrap related js -->
    <script src="{% static "story/js/popper.min.js" %}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static "story/js/bootstrap.min.js" %}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
